$themes: (
  light: (
    primary: rgb(189, 215, 231),
    secondary: rgb(12, 93, 86),
    tertiary: rgb(105, 105, 105),
    quarternary: rgb(135, 115, 55),
    bg: rgb(250, 249, 246),
    text: black,
    contrast: white
  ),
  dark: (
    primary: rgb(172, 131, 229),
    secondary: rgb(139, 233, 253),
    tertiary: rgb(80, 250, 123),
    quarternary: rgb(232, 232, 0),
    bg: rgb(33, 34, 44),
    text: white,
    contrast: black
  ),
);

@mixin themify($themes) {
  @each $name, $values in $themes {
    .#{$name}-theme {
      $theme-map: $values !global;
      @content;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}