$themes: (
  light: (
    primary: rgb(93, 138, 168),
    secondary: rgb(38, 67, 72),
    tertiary: rgb(105, 105, 105),
    bg: white,
    text: black,
    contrast: white
  ),
  dark: (
    primary: rgb(189, 147, 249),
    secondary: rgb(139, 233, 253),
    tertiary: rgb(80, 250, 123),
    bg: rgb(40, 42, 54),
    text: white,
    contrast: black
  ),
);

@mixin themify($themes) {
  @each $name, $values in $themes {
    .#{$name}-theme {
      $theme-map: $values !global;
      @content;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}