$themes: (
  light: (
    primary: rgb(203, 218, 228),
    secondary: rgb(63, 68, 74),
    tertiary: rgb(28, 105, 98),
    quarternary: rgb(121, 100, 47),
    quinary: rgb(105, 105, 105),
    error: rgb(212, 74, 71),
    bg: rgb(250, 249, 246),
    text: black,
    contrast: white
  ),
  dark: (
    primary: rgb(124, 101, 166),
    secondary: rgb(124, 190, 204),
    tertiary: rgb(119, 190, 140),
    quarternary: rgb(200, 177, 94),
    quinary: white,
    error: rgb(255, 49, 49),
    bg: rgb(33, 34, 44),
    text: white,
    contrast: black
  ),
);

@mixin themify($themes) {
  @each $name, $values in $themes {
    .#{$name}-theme {
      $theme-map: $values !global;
      @content;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
