@import "./themes";

@include themify($themes) {
    * {
        color: themed(text);
        font-family: inherit;
    }

    body {
        background-color: themed(bg);
    }

    button {
        background-color: themed(primary);
    }

    button:hover {
        background-color: themed(secondary);
        color: themed(contrast);
    }

    .option:hover, .valid-matrix:hover {
        background-color: themed(tertiary);
    }

    .invalid-matrix:hover {
        background-color: themed(error);
    }

    .selected {
        background-color: themed(tertiary);
        color: themed(contrast);
    }

    h1, #footer {
        color: themed(quarternary);
    }

    #header button {
        border: 1px solid themed(text);
    }

    .invalid {
        border: 2px solid themed(error);
    }
    
    .valid {
        border: 2px solid themed(tertiary);
    }

    #invalid-msg {
        background-color: themed(error);
    }

    #matrix-input, #facts {
        border: 2px solid themed(text);
        border-radius: 10px;
    }
    
    strong {
        color: themed(secondary);
    }

    #options path {
        fill: themed(quinary);
    }

    #graph {
        border: 2px solid themed(text);
    }

    #cube *, #square {
        border: 1px solid themed(text);
    }

    #triangle, .pyramid-side {
        -webkit-text-stroke: 1px themed(text);
    }

    #matrix-mathjax, #transform-stack {
        border: 2px solid themed(text);
    }

    #matrix-mathjax div {
        background-color: themed(secondary);
        color: themed(contrast);
    }

    #transforms-direction, #mmul-direction {
        path{
            fill: themed(secondary);
        }

        div {
            color: themed(secondary);
        }
    }

    #transform-stack * {
        background-color: themed(primary);
        color: themed(text);
        border: 1px solid themed(text);
    }
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

body:not(.mathjax) {
    font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 8px;
}

svg {
    width: 30px;
}

.light-theme svg:hover {
    animation: spin 4s linear infinite;
}

.dark-theme svg:hover{
    animation: swing 4s ease-in-out infinite;
}

h1 {
    margin: 0;
}

#header button {
    height: 50%;
    border: none;
    border-radius: 0px 0px 10px 10px;
}

#main {
    display: flex;
    gap: 16px;
    height: 87%;
}

#matrix-facts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 20%;
}

#invalid-msg {
    color: white;
    font-size: small;
    border-radius: 10px;
    text-align: center;
    padding: 8px;
}

#matrix-input {
    display: grid;
    grid-template-rows: 20% 50% 20%;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 8px;
    height: 45%;
    padding: 2rem;
}

#matrix-input p {
    grid-column: 1 / 4;
    font-size: x-small;
    margin: 0;
}

#matrix-grid {
    display: grid;
    grid-template-rows: repeat(3, 35px);
    grid-template-columns: repeat(3, 30%);
    gap: 8px;
    grid-column: 1 / 3;
    justify-content: center;
    align-content: center;
}

input {
    color: black !important;
    font-size: medium;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    min-width: min-content;
    height: 40px;
    border-radius: 10px;
}

#enter-btn {
    grid-column: 2 / 3;
}

#facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 55%;
    overflow: auto;
    padding: 8px;
}

#facts .mathjax {
    max-height: 50%;
}

#facts p:first-child {
    margin: -8px;
}

#viz {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 60%;
}

#options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#options div {
    display: flex;
    align-items: center;
    gap: 8px;
}

#options svg {
    width: 40px;
}

#options div:last-child {
    display: none;
}

#graph {
    display: grid;
    flex-grow: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    perspective: none;
    perspective-origin: center;
    overflow: hidden;
}

#cube, #transform-cube, #pyramid, #transform-pyramid {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 70px;
    height: 70px;
    transform: rotateX(-25deg) rotateY(-25deg);
    transform-style: preserve-3d;
}

#pyramid, #transform-pyramid {
    transform: rotateX(-25deg) rotateY(-25deg);
}

#transform-pyramid {
    transform: rotateX(-25deg) rotateY(-25deg);
}

#cube, #square, #pyramid, #triangle { z-index: 1; }

#triangle, .pyramid-side {
    opacity: 100%;
    color: transparent;
}

#transform-cube, #transform-square, #transform-pyramid, #transform-triangle {       
    z-index: 2; 
}

#cube * { box-sizing: border-box; }

#transform-cube *, #transform-pyramid * { opacity: 60%; }

#cube *, #transform-cube *, #square, #transform-square {
    position: absolute;
    width: 70px;
    height: 70px;
    color: white;
}

#triangle, #transform-triangle, .pyramid-side, .transform-pyramid-side {
    position: absolute;
    font-size: 70px;
    text-align: center;
}

#cube-face-front, #transform-cube-face-front { 
    transform: translateZ(35px); 
}

#cube-face-back, #transform-cube-face-back  { 
    transform: rotateY(180deg) translateZ(35px); 
}

#cube-face-left, #transform-cube-face-left  { 
    transform: rotateY(-90deg) translateZ(35px); 
}

#cube-face-right, #transform-cube-face-right { 
    transform: rotateY(90deg) translateZ(35px);
}

#cube-face-top, #transform-cube-face-top { 
    transform: rotateX(90deg) translateZ(35px); 
}

#cube-face-bottom, #transform-cube-face-bottom { 
    transform: rotateX(-90deg) translateZ(35px); 
}

#transform-cube-face-front, #transform-square { 
    background-color: #0046ad; 
}

#transform-triangle {
    color: #0046ad;
}

#pyramid-side-one, #transform-pyramid-side-one {
    transform: rotateY(0deg) translateZ(15px) rotateX(35deg);
}

#pyramid-side-two, #transform-pyramid-side-two {
    transform: rotateY(90deg) translateZ(15px) rotateX(35deg); 
}

#pyramid-side-three, #transform-pyramid-side-three {
    transform: rotateY(180deg) translateZ(15px) rotateX(35deg);
}

#pyramid-side-four, #transform-pyramid-side-four {
    transform: rotateY(270deg) translateZ(15px) rotateX(35deg);
}
  
#transform-cube-face-back   { background-color: #009b48; }

#transform-cube-face-left   { background-color: #ff5800; }

#transform-cube-face-right  { background-color: #b71234; }

#transform-cube-face-top    { background-color: #ffd500; }

#transform-cube-face-bottom { background-color: #ffffff; }

#transform-pyramid-side-one   { color: #009b48; }

#transform-pyramid-side-two  { color: #ff5800; }

#transform-pyramid-side-three { color: #b71234; }

#transform-pyramid-side-four   { color: #ffd500; }

#transform-square, #transform-triangle {
    opacity: 60%;
}

#axes {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-column-start: 1;
    transform-style: preserve-3d;
    transform: rotateX(-25deg) rotateY(-25deg);
    z-index: 0;
}

#two-d-axes {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-column-start: 1;
    transform-style: preserve-3d;
    z-index: 0;
}

#x-axis {
    position: absolute;
    width: 5000px;
    height: 2px;
    background-color: red;
}

#y-axis {
    position: absolute;
    width: 5000px;
    height: 2px;
    background-color: green;
    transform: rotateZ(90deg);
}

#z-axis {
    position: absolute;
    width: 5000px;
    height: 2px;
    background-color: blue;
    transform: rotateY(90deg);
}

#transforms {
    display: grid;
    grid-template-rows: 3fr 7fr;
    grid-template-columns: 1fr 8fr 1fr;
    row-gap: 16px;
    flex-grow: 1;
}

#matrix-mathjax, #transform-stack {
    border-radius: 10px;
}

#matrix-mathjax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 4;
    font-size: large;
    overflow: auto;
}

#matrix-mathjax > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: large;
    text-align: center;
    font-weight: 500;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#matrix-mathjax > div > div {
    position: relative;
    padding: 24px;
}

#transforms-direction, #mmul-direction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#transforms svg {
    height: 100px;
}

#transform-stack {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#transform-stack * {
    font-size: large;
    height: min-content;
    width: 100%;
    border-radius: 5px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}


@keyframes swing { 
    0% {
        transform:rotate(25deg); 
    }

    50% { 
        transform:rotate(-25deg); 
    } 

    100% { 
        transform:rotate(25deg); 
    } 
}
